body{
  background-color: rgb(241, 241, 241);
}

.root {
  width: '100%';
}

.header {
  position: "fixed" !important;
  background-color: rgb(247, 101, 4) !important;

}

.grow {
  flex-grow: 1;
}

.menuButton {
  color: inherit !important; 
  margin-left: -12;
  margin-right: 20;
}

.title {
  display: 'none';
  color: rgb(255, 255, 255) !important;
  font-size: 1rem !important;
}

.content {
  padding: 85px 20px 0 20px;
}

.grid {
  padding: 5px !important;
  box-sizing: border-box !important;
}

.grid2 {
  padding: 5px !important;
  box-sizing: border-box !important;
  background-color: rgba(255, 166, 0, 0.089) !important;
  width: 100% !important;
}

.center {
  text-align: center !important;
}

.listHomepage {
  padding: 0 0 0 15px !important;
}
.experienceHomepage {
  padding: 75px 0 0 150px !important;
  height: 250px !important;
  width: 250px !important;
}

.avatar {
  margin: 0 auto !important;
  /* height: 50vh !important; */
  height: 350px !important;
  width: 350px !important;
}
.list {
  width: 450px !important;
}

.fulllist {
  width: auto !important;
}

.paperTitle {
  color: rgb(0, 0, 0) !important;
  font-size: 1.5rem !important;
  border-bottom: 2.5px solid rgb(128, 128, 128) !important;
  margin: 0 0 8px 0 !important;
  font-style: italic !important;
}

.paperConent {
  color: rgb(0, 0, 0) !important;
  font-size: 0.90rem !important;
  margin: 0 0 20px 0 !important;
  text-align: justify !important;
}

.button {
  margin: 5px 0 0 0 !important;
  background-color: rgb(29, 118, 208) !important;
  color: rgb(254, 254, 254) !important;
  width: 50vw !important;
  margin: 0 0 0 50px !important
}

.buttonForm {
  margin: 10px 0 0 0 !important;
  background-color: rgb(247, 101, 4) !important;
  color: rgb(254, 254, 254) !important;
}

.formContainer {
  margin: 0 0 0 10px !important;
  display: 'flex' !important;
  flex-wrap: 'wrap' !important;
}

.listView {
  padding: 0 0 15px 0 !important;
}